.course-top {
  margin-bottom: 50px;
  text-align: center;
}

.course-top h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.course-top p {
  color: var(--heading-color);
  font-size: 1rem;
  line-height: 28px;
}

.course-wrapper {
  background: linear-gradient(90deg, rgba(103, 101, 240, 1) 27%, rgba(141, 141, 235, 1) 85%);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 72px 23px;
}

.course-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 200px;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 0.5rem;
}

.course-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5px;
  background: #fff;
}

.course-icon img {
  width: 100%;
  height: auto;
}

.course-content {
  flex: 1;
  text-align: left;
}

.course-content h4 {
  font-size: 0.95rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.course-content p {
  font-size: 0.9rem;
  color: #fff;
  width: 100%;

}
